
#movieReviewContainer{
    background: white;
    width: 50%;
    max-width: 650px;
    min-width: 436px;

    margin: 3px auto;
    padding: 3px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

#movieReview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 227, 133);    
    
    padding: 5px;
}

#movieImg{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 373px;

}

#movieDesc{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 3%;
}